BlacklistedMacAddresses.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template><description></description><name>BlacklistedMacAddresses</name><snippet><connections><id>9f71fc7f-5d0d-4e71-9e4a-0cb87a82257a</id><parentGroupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</groupId><id>dc0e5d9e-975f-4198-b4b5-a39b41d1ad75</id><type>OUTPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</groupId><id>f526e572-5a93-4637-99f1-19a1a6073548</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>cb3b38b1-f59c-4826-8c82-0352092b0b1a</id><parentGroupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</groupId><id>60b9d871-c28e-4447-b075-61a0370d5ce4</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</groupId><id>32612472-2a0a-412a-8b86-35cc3ed5b2bd</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>07ec6df1-3030-43b3-8564-e9a25c47f4ee</id><parentGroupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</groupId><id>ed088cca-98a4-4123-957f-ca3ca9be6575</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>splits</selectedRelationships><source><groupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</groupId><id>6c089dff-25bb-4701-8278-d0dc8350452e</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>37c5c596-b057-465c-a24f-bb801ddc786f</id><parentGroupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</groupId><id>ebba4fa3-ec2d-4abe-9157-9c20be83535f</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>matched</selectedRelationships><source><groupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</groupId><id>ed088cca-98a4-4123-957f-ca3ca9be6575</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>94fe20c9-a401-4146-ad88-fc16cf6fec9e</id><parentGroupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</groupId><id>6c089dff-25bb-4701-8278-d0dc8350452e</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</groupId><id>64d0d74d-bc67-4b82-8513-e613d7d77983</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>6308a49f-c403-41ce-99f6-74b7ef8868ce</id><parentGroupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</groupId><id>c8ef8d48-de06-4490-b09b-fa1e2c96b1ab</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>splits</selectedRelationships><source><groupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</groupId><id>60b9d871-c28e-4447-b075-61a0370d5ce4</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>cdf37c61-9997-47e5-a68b-d6922d512adf</id><parentGroupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</groupId><id>5a97b81a-9cbb-424f-a085-a4aa94c89fa6</id><type>OUTPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</groupId><id>e8febfdf-403c-4385-9901-b560a17eec48</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>4849fada-d408-42c5-a2c4-3ef66dd7dc0b</id><parentGroupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</groupId><id>975b293b-defe-42cd-86ff-3a3db7b249b0</id><type>OUTPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>not-found</selectedRelationships><source><groupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</groupId><id>f526e572-5a93-4637-99f1-19a1a6073548</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>a3cb241b-fd13-4d1d-bf04-dd53bfdcba89</id><parentGroupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</groupId><id>08014f02-b313-4da7-8a10-321418005abd</id><type>OUTPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>matched</selectedRelationships><source><groupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</groupId><id>ebba4fa3-ec2d-4abe-9157-9c20be83535f</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>5037c8b2-a649-432e-91da-67f1502307c3</id><parentGroupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</groupId><id>e8febfdf-403c-4385-9901-b560a17eec48</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>matched</selectedRelationships><source><groupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</groupId><id>c8ef8d48-de06-4490-b09b-fa1e2c96b1ab</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>c2568af8-40e8-4ed6-a7eb-9350c91d1cb5</id><parentGroupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</groupId><id>f526e572-5a93-4637-99f1-19a1a6073548</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>matched</selectedRelationships><source><groupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</groupId><id>ed088cca-98a4-4123-957f-ca3ca9be6575</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><controllerServices><id>570f0c15-1a25-4e29-b48d-b3adba326123</id><comments></comments><descriptors><entry><key>SSL Context Service</key><value><description>If specified, indicates the SSL Context Service that is used to communicate with the remote server. If not specified, communications will not be encrypted</description><displayName>SSL Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService><name>SSL Context Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Server Port</key><value><defaultValue>4557</defaultValue><description>The port on the remote server that is to be used when communicating with the DistributedMapCacheServer service</description><displayName>Server Port</displayName><dynamic>false</dynamic><name>Server Port</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Server Hostname</key><value><description>The name of the server that is running the DistributedMapCacheServer service</description><displayName>Server Hostname</displayName><dynamic>false</dynamic><name>Server Hostname</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Communications Timeout</key><value><defaultValue>30 secs</defaultValue><description>Specifies how long to wait when communicating with the remote server before determining that there is a communications failure if data cannot be sent or received</description><displayName>Communications Timeout</displayName><dynamic>false</dynamic><name>Communications Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><name>DistributedMapCacheClientService</name><properties><entry><key>SSL Context Service</key></entry><entry><key>Server Port</key><value>4557</value></entry><entry><key>Server Hostname</key><value>localhost</value></entry><entry><key>Communications Timeout</key><value>30 secs</value></entry></properties><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Cache Entry Identifier</key><value><defaultValue>${hash.value}</defaultValue><description>A FlowFile attribute, or the results of an Attribute Expression Language statement, which will be evaluated against a FlowFile in order to determine the value used to identify duplicates; it is this value that is cached</description><displayName>Cache Entry Identifier</displayName><dynamic>false</dynamic><name>Cache Entry Identifier</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Put Cache Value In Attribute</key><value><description>If set, the cache value received will be put into an attribute of the FlowFile instead of a the content of theFlowFile. The attribute key to put to is determined by evaluating value of this property.</description><displayName>Put Cache Value In Attribute</displayName><dynamic>false</dynamic><name>Put Cache Value In Attribute</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Distributed Cache Service</key><value><allowableValues><displayName>DistributedMapCacheClientService</displayName><value>570f0c15-1a25-4e29-b48d-b3adba326123</value></allowableValues><description>The Controller Service that is used to get the cached values.</description><displayName>Distributed Cache Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService><name>Distributed Cache Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Length To Put In Attribute</key><value><defaultValue>256</defaultValue><description>If routing the cache value to an attribute of the FlowFile (by setting the &quot;Put Cache Value in attribute&quot; property), the number of characters put to the attribute value will be at most this amount. This is important because attributes are held in memory and large attributes will quickly cause out of memory issues. If the output goes longer than this value, it will be truncated to fit. Consider making this smaller if able.</description><displayName>Max Length To Put In Attribute</displayName><dynamic>false</dynamic><name>Max Length To Put In Attribute</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Character Set</key><value><defaultValue>UTF-8</defaultValue><description>The Character Set in which the cached value is encoded. This will only be used when routing to an attribute.</description><displayName>Character Set</displayName><dynamic>false</dynamic><name>Character Set</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</groupId><id>f526e572-5a93-4637-99f1-19a1a6073548</id><name>FetchDistributedMapCache</name><properties><entry><key>Cache Entry Identifier</key><value>mac.address</value></entry><entry><key>Put Cache Value In Attribute</key><value>mac.address.0</value></entry><entry><key>Distributed Cache Service</key><value>570f0c15-1a25-4e29-b48d-b3adba326123</value></entry><entry><key>Max Length To Put In Attribute</key></entry><entry><key>Character Set</key></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>org.apache.nifi.processors.standard.FetchDistributedMapCache</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Cache Entry Identifier</key><value><description>A FlowFile attribute, or the results of an Attribute Expression Language statement, which will be evaluated against a FlowFile in order to determine the cache key</description><displayName>Cache Entry Identifier</displayName><dynamic>false</dynamic><name>Cache Entry Identifier</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Cache update strategy</key><value><allowableValues><description>Adds the specified entry to the cache, replacing any value that is currently set.</description><displayName>Replace if present</displayName><value>replace</value></allowableValues><allowableValues><description>Adds the specified entry to the cache, if the key does not exist.</description><displayName>Keep original</displayName><value>keeporiginal</value></allowableValues><defaultValue>replace</defaultValue><description>Determines how the cache is updated if the cache already contains the entry</description><displayName>Cache update strategy</displayName><dynamic>false</dynamic><name>Cache update strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Distributed Cache Service</key><value><allowableValues><displayName>DistributedMapCacheClientService</displayName><value>570f0c15-1a25-4e29-b48d-b3adba326123</value></allowableValues><description>The Controller Service that is used to cache flow files</description><displayName>Distributed Cache Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService><name>Distributed Cache Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max cache entry size</key><value><defaultValue>1 MB</defaultValue><description>The maximum amount of data to put into cache</description><displayName>Max cache entry size</displayName><dynamic>false</dynamic><name>Max cache entry size</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</groupId><id>e8febfdf-403c-4385-9901-b560a17eec48</id><name>PutDistributedMapCache</name><properties><entry><key>Cache Entry Identifier</key><value>mac.address</value></entry><entry><key>Cache update strategy</key></entry><entry><key>Distributed Cache Service</key><value>570f0c15-1a25-4e29-b48d-b3adba326123</value></entry><entry><key>Max cache entry size</key><value>1 MB</value></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>org.apache.nifi.processors.standard.PutDistributedMapCache</type></referencingComponents><state>ENABLED</state><type>org.apache.nifi.distributed.cache.client.DistributedMapCacheClientService</type></controllerServices><outputPorts><id>08014f02-b313-4da7-8a10-321418005abd</id><parentGroupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</parentGroupId><position><x>516.1260543357046</x><y>192.22545153033116</y></position><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>blacklisted mac address</name><state>STOPPED</state><transmitting>false</transmitting><type>OUTPUT_PORT</type></outputPorts><outputPorts><id>dc0e5d9e-975f-4198-b4b5-a39b41d1ad75</id><parentGroupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</parentGroupId><position><x>1103.9616663578752</x><y>246.55743287072585</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>blacklist</name><state>STOPPED</state><transmitting>false</transmitting><type>OUTPUT_PORT</type></outputPorts><outputPorts><id>975b293b-defe-42cd-86ff-3a3db7b249b0</id><parentGroupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</parentGroupId><position><x>728.0479736328125</x><y>246.09735107421875</y></position><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>not.found</name><state>STOPPED</state><transmitting>false</transmitting><type>OUTPUT_PORT</type></outputPorts><outputPorts><id>5a97b81a-9cbb-424f-a085-a4aa94c89fa6</id><parentGroupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</parentGroupId><position><x>1296.9257162673641</x><y>121.78934559396362</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>cache</name><state>STOPPED</state><transmitting>false</transmitting><type>OUTPUT_PORT</type></outputPorts><processors><id>f526e572-5a93-4637-99f1-19a1a6073548</id><parentGroupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</parentGroupId><position><x>798.622966432851</x><y>-36.97283904400956</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Cache Entry Identifier</key><value><defaultValue>${hash.value}</defaultValue><description>A FlowFile attribute, or the results of an Attribute Expression Language statement, which will be evaluated against a FlowFile in order to determine the value used to identify duplicates; it is this value that is cached</description><displayName>Cache Entry Identifier</displayName><dynamic>false</dynamic><name>Cache Entry Identifier</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Put Cache Value In Attribute</key><value><description>If set, the cache value received will be put into an attribute of the FlowFile instead of a the content of theFlowFile. The attribute key to put to is determined by evaluating value of this property.</description><displayName>Put Cache Value In Attribute</displayName><dynamic>false</dynamic><name>Put Cache Value In Attribute</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Distributed Cache Service</key><value><allowableValues><displayName>DistributedMapCacheClientService</displayName><value>570f0c15-1a25-4e29-b48d-b3adba326123</value></allowableValues><description>The Controller Service that is used to get the cached values.</description><displayName>Distributed Cache Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService><name>Distributed Cache Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Length To Put In Attribute</key><value><defaultValue>256</defaultValue><description>If routing the cache value to an attribute of the FlowFile (by setting the &quot;Put Cache Value in attribute&quot; property), the number of characters put to the attribute value will be at most this amount. This is important because attributes are held in memory and large attributes will quickly cause out of memory issues. If the output goes longer than this value, it will be truncated to fit. Consider making this smaller if able.</description><displayName>Max Length To Put In Attribute</displayName><dynamic>false</dynamic><name>Max Length To Put In Attribute</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Character Set</key><value><defaultValue>UTF-8</defaultValue><description>The Character Set in which the cached value is encoded. This will only be used when routing to an attribute.</description><displayName>Character Set</displayName><dynamic>false</dynamic><name>Character Set</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Cache Entry Identifier</key><value>mac.address</value></entry><entry><key>Put Cache Value In Attribute</key><value>mac.address.0</value></entry><entry><key>Distributed Cache Service</key><value>570f0c15-1a25-4e29-b48d-b3adba326123</value></entry><entry><key>Max Length To Put In Attribute</key></entry><entry><key>Character Set</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>FetchDistributedMapCache</name><relationships><autoTerminate>true</autoTerminate><description>If unable to communicate with the cache or if the cache entry is evaluated to be blank, the FlowFile will be penalized and routed to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>If a FlowFile's Cache Entry Identifier was not found in the cache, it will be routed to this relationship</description><name>not-found</name></relationships><relationships><autoTerminate>false</autoTerminate><description>If the cache was successfully communicated with it will be routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.FetchDistributedMapCache</type></processors><processors><id>32612472-2a0a-412a-8b86-35cc3ed5b2bd</id><parentGroupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</parentGroupId><position><x>1209.0722242075187</x><y>-706.2169672573973</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Keep Source File</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true, the file is not deleted after it has been copied to the Content Repository; this causes the file to be picked up continually and is useful for testing purposes.  If not keeping original NiFi will need write permissions on the directory it is pulling from otherwise it will ignore the file.</description><displayName>Keep Source File</displayName><dynamic>false</dynamic><name>Keep Source File</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Minimum File Age</key><value><defaultValue>0 sec</defaultValue><description>The minimum age that a file must be in order to be pulled; any file younger than this amount of time (according to last modification date) will be ignored</description><displayName>Minimum File Age</displayName><dynamic>false</dynamic><name>Minimum File Age</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Polling Interval</key><value><defaultValue>0 sec</defaultValue><description>Indicates how long to wait before performing a directory listing</description><displayName>Polling Interval</displayName><dynamic>false</dynamic><name>Polling Interval</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Input Directory</key><value><description>The input directory from which to pull files</description><displayName>Input Directory</displayName><dynamic>false</dynamic><name>Input Directory</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Maximum File Age</key><value><description>The maximum age that a file must be in order to be pulled; any file older than this amount of time (according to last modification date) will be ignored</description><displayName>Maximum File Age</displayName><dynamic>false</dynamic><name>Maximum File Age</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Batch Size</key><value><defaultValue>10</defaultValue><description>The maximum number of files to pull in each iteration</description><displayName>Batch Size</displayName><dynamic>false</dynamic><name>Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum File Size</key><value><description>The maximum size that a file can be in order to be pulled</description><displayName>Maximum File Size</displayName><dynamic>false</dynamic><name>Maximum File Size</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Minimum File Size</key><value><defaultValue>0 B</defaultValue><description>The minimum size that a file must be in order to be pulled</description><displayName>Minimum File Size</displayName><dynamic>false</dynamic><name>Minimum File Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Ignore Hidden Files</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Indicates whether or not hidden files should be ignored</description><displayName>Ignore Hidden Files</displayName><dynamic>false</dynamic><name>Ignore Hidden Files</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Recurse Subdirectories</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Indicates whether or not to pull files from subdirectories</description><displayName>Recurse Subdirectories</displayName><dynamic>false</dynamic><name>Recurse Subdirectories</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>File Filter</key><value><defaultValue>[^\.].*</defaultValue><description>Only files whose names match the given regular expression will be picked up</description><displayName>File Filter</displayName><dynamic>false</dynamic><name>File Filter</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Path Filter</key><value><description>When Recurse Subdirectories is true, then only subdirectories whose path matches the given regular expression will be scanned</description><displayName>Path Filter</displayName><dynamic>false</dynamic><name>Path Filter</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Keep Source File</key><value>false</value></entry><entry><key>Minimum File Age</key><value>0 sec</value></entry><entry><key>Polling Interval</key><value>0 sec</value></entry><entry><key>Input Directory</key><value>/Users/cstanca/Documents/vmshared/blacklist/</value></entry><entry><key>Maximum File Age</key></entry><entry><key>Batch Size</key><value>10</value></entry><entry><key>Maximum File Size</key></entry><entry><key>Minimum File Size</key><value>0 B</value></entry><entry><key>Ignore Hidden Files</key><value>true</value></entry><entry><key>Recurse Subdirectories</key><value>true</value></entry><entry><key>File Filter</key><value>[^\.].*</value></entry><entry><key>Path Filter</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>GetFile</name><relationships><autoTerminate>false</autoTerminate><description>All files are routed to success</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.GetFile</type></processors><processors><id>64d0d74d-bc67-4b82-8513-e613d7d77983</id><parentGroupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</parentGroupId><position><x>726.7045169341598</x><y>-720.9869484298044</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Keep Source File</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true, the file is not deleted after it has been copied to the Content Repository; this causes the file to be picked up continually and is useful for testing purposes.  If not keeping original NiFi will need write permissions on the directory it is pulling from otherwise it will ignore the file.</description><displayName>Keep Source File</displayName><dynamic>false</dynamic><name>Keep Source File</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Minimum File Age</key><value><defaultValue>0 sec</defaultValue><description>The minimum age that a file must be in order to be pulled; any file younger than this amount of time (according to last modification date) will be ignored</description><displayName>Minimum File Age</displayName><dynamic>false</dynamic><name>Minimum File Age</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Polling Interval</key><value><defaultValue>0 sec</defaultValue><description>Indicates how long to wait before performing a directory listing</description><displayName>Polling Interval</displayName><dynamic>false</dynamic><name>Polling Interval</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Input Directory</key><value><description>The input directory from which to pull files</description><displayName>Input Directory</displayName><dynamic>false</dynamic><name>Input Directory</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Maximum File Age</key><value><description>The maximum age that a file must be in order to be pulled; any file older than this amount of time (according to last modification date) will be ignored</description><displayName>Maximum File Age</displayName><dynamic>false</dynamic><name>Maximum File Age</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Batch Size</key><value><defaultValue>10</defaultValue><description>The maximum number of files to pull in each iteration</description><displayName>Batch Size</displayName><dynamic>false</dynamic><name>Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum File Size</key><value><description>The maximum size that a file can be in order to be pulled</description><displayName>Maximum File Size</displayName><dynamic>false</dynamic><name>Maximum File Size</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Minimum File Size</key><value><defaultValue>0 B</defaultValue><description>The minimum size that a file must be in order to be pulled</description><displayName>Minimum File Size</displayName><dynamic>false</dynamic><name>Minimum File Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Ignore Hidden Files</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Indicates whether or not hidden files should be ignored</description><displayName>Ignore Hidden Files</displayName><dynamic>false</dynamic><name>Ignore Hidden Files</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Recurse Subdirectories</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Indicates whether or not to pull files from subdirectories</description><displayName>Recurse Subdirectories</displayName><dynamic>false</dynamic><name>Recurse Subdirectories</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>File Filter</key><value><defaultValue>[^\.].*</defaultValue><description>Only files whose names match the given regular expression will be picked up</description><displayName>File Filter</displayName><dynamic>false</dynamic><name>File Filter</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Path Filter</key><value><description>When Recurse Subdirectories is true, then only subdirectories whose path matches the given regular expression will be scanned</description><displayName>Path Filter</displayName><dynamic>false</dynamic><name>Path Filter</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Keep Source File</key><value>false</value></entry><entry><key>Minimum File Age</key><value>0 sec</value></entry><entry><key>Polling Interval</key><value>0 sec</value></entry><entry><key>Input Directory</key><value>/users/cstanca/Documents/vmshared/log/</value></entry><entry><key>Maximum File Age</key></entry><entry><key>Batch Size</key><value>10</value></entry><entry><key>Maximum File Size</key></entry><entry><key>Minimum File Size</key><value>0 B</value></entry><entry><key>Ignore Hidden Files</key><value>true</value></entry><entry><key>Recurse Subdirectories</key><value>true</value></entry><entry><key>File Filter</key><value>[^\.].*</value></entry><entry><key>Path Filter</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>1 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>GetFile</name><relationships><autoTerminate>false</autoTerminate><description>All files are routed to success</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.GetFile</type></processors><processors><id>e8febfdf-403c-4385-9901-b560a17eec48</id><parentGroupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</parentGroupId><position><x>1220.522707215499</x><y>-96.69994753679123</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Cache Entry Identifier</key><value><description>A FlowFile attribute, or the results of an Attribute Expression Language statement, which will be evaluated against a FlowFile in order to determine the cache key</description><displayName>Cache Entry Identifier</displayName><dynamic>false</dynamic><name>Cache Entry Identifier</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Cache update strategy</key><value><allowableValues><description>Adds the specified entry to the cache, replacing any value that is currently set.</description><displayName>Replace if present</displayName><value>replace</value></allowableValues><allowableValues><description>Adds the specified entry to the cache, if the key does not exist.</description><displayName>Keep original</displayName><value>keeporiginal</value></allowableValues><defaultValue>replace</defaultValue><description>Determines how the cache is updated if the cache already contains the entry</description><displayName>Cache update strategy</displayName><dynamic>false</dynamic><name>Cache update strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Distributed Cache Service</key><value><allowableValues><displayName>DistributedMapCacheClientService</displayName><value>570f0c15-1a25-4e29-b48d-b3adba326123</value></allowableValues><description>The Controller Service that is used to cache flow files</description><displayName>Distributed Cache Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService><name>Distributed Cache Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max cache entry size</key><value><defaultValue>1 MB</defaultValue><description>The maximum amount of data to put into cache</description><displayName>Max cache entry size</displayName><dynamic>false</dynamic><name>Max cache entry size</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Cache Entry Identifier</key><value>mac.address</value></entry><entry><key>Cache update strategy</key></entry><entry><key>Distributed Cache Service</key><value>570f0c15-1a25-4e29-b48d-b3adba326123</value></entry><entry><key>Max cache entry size</key><value>1 MB</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>PutDistributedMapCache</name><relationships><autoTerminate>true</autoTerminate><description>Any FlowFile that cannot be inserted into the cache will be routed to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Any FlowFile that is successfully inserted into cache will be routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.PutDistributedMapCache</type></processors><processors><id>6c089dff-25bb-4701-8278-d0dc8350452e</id><parentGroupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</parentGroupId><position><x>727.5541415679488</x><y>-498.98877948449194</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Remove Trailing Newlines</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Whether to remove newlines at the end of each split file. This should be false if you intend to merge the split files later. If this is set to 'true' and a FlowFile is generated that contains only 'empty lines' (i.e., consists only of &#xD; and 
 characters), the FlowFile will not be emitted. Note, however, that if the Header Line Count is greater than 0, the resultant FlowFile will never be empty as it will consist of the header lines, so a FlowFile may be emitted that contians only the header lines.</description><displayName>Remove Trailing Newlines</displayName><dynamic>false</dynamic><name>Remove Trailing Newlines</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Header Line Count</key><value><defaultValue>0</defaultValue><description>The number of lines that should be considered part of the header; the header lines will be duplicated to all split files</description><displayName>Header Line Count</displayName><dynamic>false</dynamic><name>Header Line Count</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Line Split Count</key><value><description>The number of lines that will be added to each split file (excluding the header, if the Header Line Count property is greater than 0).</description><displayName>Line Split Count</displayName><dynamic>false</dynamic><name>Line Split Count</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Remove Trailing Newlines</key><value>true</value></entry><entry><key>Header Line Count</key><value>0</value></entry><entry><key>Line Split Count</key><value>1</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>SplitText</name><relationships><autoTerminate>true</autoTerminate><description>If a file cannot be split for some reason, the original file will be routed to this destination and nothing will be routed elsewhere</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>The original input file will be routed to this destination when it has been successfully split into 1 or more files</description><name>original</name></relationships><relationships><autoTerminate>false</autoTerminate><description>The split files will be routed to this destination when an input file is successfully split into 1 or more split files</description><name>splits</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.SplitText</type></processors><processors><id>ebba4fa3-ec2d-4abe-9157-9c20be83535f</id><parentGroupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</parentGroupId><position><x>451.3963285236571</x><y>-67.04728489634238</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Attribute Pattern</key><value><defaultValue>.*</defaultValue><description>Regular Expression that specifies the names of attributes whose values will be matched against the terms in the dictionary</description><displayName>Attribute Pattern</displayName><dynamic>false</dynamic><name>Attribute Pattern</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Dictionary Filter Pattern</key><value><description>A Regular Expression that will be applied to each line in the dictionary file. If the regular expression does not match the line, the line will not be included in the list of terms to search for. If a Matching Group is specified, only the portion of the term that matches that Matching Group will be used instead of the entire term. If not specified, all terms in the dictionary will be used and each term will consist of the text of the entire line in the file</description><displayName>Dictionary Filter Pattern</displayName><dynamic>false</dynamic><name>Dictionary Filter Pattern</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Dictionary File</key><value><description>A new-line-delimited text file that includes the terms that should trigger a match. Empty lines are ignored.</description><displayName>Dictionary File</displayName><dynamic>false</dynamic><name>Dictionary File</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Match Criteria</key><value><allowableValues><displayName>At Least 1 Must Match</displayName><value>At Least 1 Must Match</value></allowableValues><allowableValues><displayName>All Must Match</displayName><value>All Must Match</value></allowableValues><defaultValue>At Least 1 Must Match</defaultValue><description>If set to All Must Match, then FlowFiles will be routed to 'matched' only if all specified attributes' values are found in the dictionary. If set to At Least 1 Must Match, FlowFiles will be routed to 'matched' if any attribute specified is found in the dictionary</description><displayName>Match Criteria</displayName><dynamic>false</dynamic><name>Match Criteria</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Attribute Pattern</key></entry><entry><key>Dictionary Filter Pattern</key></entry><entry><key>Dictionary File</key><value>/Users/cstanca/Documents/vmshared/blacklist/macaddresses-blacklist.txt</value></entry><entry><key>Match Criteria</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ScanAttribute</name><relationships><autoTerminate>false</autoTerminate><description>FlowFiles whose attributes are found in the dictionary will be routed to this relationship</description><name>matched</name></relationships><relationships><autoTerminate>true</autoTerminate><description>FlowFiles whose attributes are not found in the dictionary will be routed to this relationship</description><name>unmatched</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.ScanAttribute</type></processors><processors><id>c8ef8d48-de06-4490-b09b-fa1e2c96b1ab</id><parentGroupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</parentGroupId><position><x>1217.670247524326</x><y>-290.41908427216435</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Enable Unicode Predefined Character Classes</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Specifies conformance with the Unicode Technical Standard #18: Unicode Regular Expression Annex C: Compatibility Properties.  Can also be specified via the embeded flag (?U).</description><displayName>Enable Unicode Predefined Character Classes</displayName><dynamic>false</dynamic><name>Enable Unicode Predefined Character Classes</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Permit Whitespace and Comments in Pattern</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>In this mode, whitespace is ignored, and embedded comments starting with # are ignored until the end of a line.  Can also be specified via the embeded flag (?x).</description><displayName>Permit Whitespace and Comments in Pattern</displayName><dynamic>false</dynamic><name>Permit Whitespace and Comments in Pattern</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Unicode-aware Case Folding</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>When used with 'Enable Case-insensitive Matching', matches in a manner consistent with the Unicode Standard.  Can also be specified via the embeded flag (?u).</description><displayName>Enable Unicode-aware Case Folding</displayName><dynamic>false</dynamic><name>Enable Unicode-aware Case Folding</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable DOTALL Mode</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates that the expression '.' should match any character, including a line terminator.  Can also be specified via the embeded flag (?s).</description><displayName>Enable DOTALL Mode</displayName><dynamic>false</dynamic><name>Enable DOTALL Mode</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Unix Lines Mode</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates that only the '
' line terminator is recognized in the behavior of '.', '^', and '$'.  Can also be specified via the embeded flag (?d).</description><displayName>Enable Unix Lines Mode</displayName><dynamic>false</dynamic><name>Enable Unix Lines Mode</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum Buffer Size</key><value><defaultValue>1 MB</defaultValue><description>Specifies the maximum amount of data to buffer (per file) in order to apply the regular expressions.  Files larger than the specified maximum will not be fully evaluated.</description><displayName>Maximum Buffer Size</displayName><dynamic>false</dynamic><name>Maximum Buffer Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>mac.address</key><value><description></description><displayName>mac.address</displayName><dynamic>true</dynamic><name>mac.address</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Canonical Equivalence</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates that two characters match only when their full canonical decompositions match.</description><displayName>Enable Canonical Equivalence</displayName><dynamic>false</dynamic><name>Enable Canonical Equivalence</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Case-insensitive Matching</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates that two characters match even if they are in a different case.  Can also be specified via the embeded flag (?i).</description><displayName>Enable Case-insensitive Matching</displayName><dynamic>false</dynamic><name>Enable Case-insensitive Matching</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Multiline Mode</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates that '^' and '$' should match just after and just before a line terminator or end of sequence, instead of only the begining or end of the entire input.  Can also be specified via the embeded flag (?m).</description><displayName>Enable Multiline Mode</displayName><dynamic>false</dynamic><name>Enable Multiline Mode</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum Capture Group Length</key><value><defaultValue>1024</defaultValue><description>Specifies the maximum number of characters a given capture group value can have.  Any characters beyond the max will be truncated.</description><displayName>Maximum Capture Group Length</displayName><dynamic>false</dynamic><name>Maximum Capture Group Length</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Literal Parsing of the Pattern</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates that Metacharacters and escape characters should be given no special meaning.</description><displayName>Enable Literal Parsing of the Pattern</displayName><dynamic>false</dynamic><name>Enable Literal Parsing of the Pattern</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Character Set</key><value><defaultValue>UTF-8</defaultValue><description>The Character Set in which the file is encoded</description><displayName>Character Set</displayName><dynamic>false</dynamic><name>Character Set</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Include Capture Group 0</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Indicates that Capture Group 0 should be included as an attribute. Capture Group 0 represents the entirety of the regular expression match, is typically not used, and could have considerable length.</description><displayName>Include Capture Group 0</displayName><dynamic>false</dynamic><name>Include Capture Group 0</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Enable Unicode Predefined Character Classes</key></entry><entry><key>Permit Whitespace and Comments in Pattern</key></entry><entry><key>Enable Unicode-aware Case Folding</key></entry><entry><key>Enable DOTALL Mode</key></entry><entry><key>Enable Unix Lines Mode</key></entry><entry><key>Maximum Buffer Size</key></entry><entry><key>mac.address</key><value>([0-9a-f]{2}(?::[0-9a-f]{2}){5})</value></entry><entry><key>Enable Canonical Equivalence</key></entry><entry><key>Enable Case-insensitive Matching</key></entry><entry><key>Enable Multiline Mode</key></entry><entry><key>Maximum Capture Group Length</key></entry><entry><key>Enable Literal Parsing of the Pattern</key></entry><entry><key>Character Set</key></entry><entry><key>Include Capture Group 0</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ExtractText</name><relationships><autoTerminate>false</autoTerminate><description>FlowFiles are routed to this relationship when the Regular Expression is successfully evaluated and the FlowFile is modified as a result</description><name>matched</name></relationships><relationships><autoTerminate>true</autoTerminate><description>FlowFiles are routed to this relationship when no provided Regular Expression matches the content of the FlowFile</description><name>unmatched</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.ExtractText</type></processors><processors><id>ed088cca-98a4-4123-957f-ca3ca9be6575</id><parentGroupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</parentGroupId><position><x>734.4939619337745</x><y>-282.709883583739</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Enable Unicode Predefined Character Classes</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Specifies conformance with the Unicode Technical Standard #18: Unicode Regular Expression Annex C: Compatibility Properties.  Can also be specified via the embeded flag (?U).</description><displayName>Enable Unicode Predefined Character Classes</displayName><dynamic>false</dynamic><name>Enable Unicode Predefined Character Classes</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Permit Whitespace and Comments in Pattern</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>In this mode, whitespace is ignored, and embedded comments starting with # are ignored until the end of a line.  Can also be specified via the embeded flag (?x).</description><displayName>Permit Whitespace and Comments in Pattern</displayName><dynamic>false</dynamic><name>Permit Whitespace and Comments in Pattern</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Unicode-aware Case Folding</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>When used with 'Enable Case-insensitive Matching', matches in a manner consistent with the Unicode Standard.  Can also be specified via the embeded flag (?u).</description><displayName>Enable Unicode-aware Case Folding</displayName><dynamic>false</dynamic><name>Enable Unicode-aware Case Folding</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable DOTALL Mode</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates that the expression '.' should match any character, including a line terminator.  Can also be specified via the embeded flag (?s).</description><displayName>Enable DOTALL Mode</displayName><dynamic>false</dynamic><name>Enable DOTALL Mode</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Unix Lines Mode</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates that only the '
' line terminator is recognized in the behavior of '.', '^', and '$'.  Can also be specified via the embeded flag (?d).</description><displayName>Enable Unix Lines Mode</displayName><dynamic>false</dynamic><name>Enable Unix Lines Mode</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum Buffer Size</key><value><defaultValue>1 MB</defaultValue><description>Specifies the maximum amount of data to buffer (per file) in order to apply the regular expressions.  Files larger than the specified maximum will not be fully evaluated.</description><displayName>Maximum Buffer Size</displayName><dynamic>false</dynamic><name>Maximum Buffer Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>mac.address</key><value><description></description><displayName>mac.address</displayName><dynamic>true</dynamic><name>mac.address</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Canonical Equivalence</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates that two characters match only when their full canonical decompositions match.</description><displayName>Enable Canonical Equivalence</displayName><dynamic>false</dynamic><name>Enable Canonical Equivalence</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Case-insensitive Matching</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates that two characters match even if they are in a different case.  Can also be specified via the embeded flag (?i).</description><displayName>Enable Case-insensitive Matching</displayName><dynamic>false</dynamic><name>Enable Case-insensitive Matching</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Multiline Mode</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates that '^' and '$' should match just after and just before a line terminator or end of sequence, instead of only the begining or end of the entire input.  Can also be specified via the embeded flag (?m).</description><displayName>Enable Multiline Mode</displayName><dynamic>false</dynamic><name>Enable Multiline Mode</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum Capture Group Length</key><value><defaultValue>1024</defaultValue><description>Specifies the maximum number of characters a given capture group value can have.  Any characters beyond the max will be truncated.</description><displayName>Maximum Capture Group Length</displayName><dynamic>false</dynamic><name>Maximum Capture Group Length</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Literal Parsing of the Pattern</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates that Metacharacters and escape characters should be given no special meaning.</description><displayName>Enable Literal Parsing of the Pattern</displayName><dynamic>false</dynamic><name>Enable Literal Parsing of the Pattern</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Character Set</key><value><defaultValue>UTF-8</defaultValue><description>The Character Set in which the file is encoded</description><displayName>Character Set</displayName><dynamic>false</dynamic><name>Character Set</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Include Capture Group 0</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Indicates that Capture Group 0 should be included as an attribute. Capture Group 0 represents the entirety of the regular expression match, is typically not used, and could have considerable length.</description><displayName>Include Capture Group 0</displayName><dynamic>false</dynamic><name>Include Capture Group 0</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Enable Unicode Predefined Character Classes</key></entry><entry><key>Permit Whitespace and Comments in Pattern</key></entry><entry><key>Enable Unicode-aware Case Folding</key></entry><entry><key>Enable DOTALL Mode</key></entry><entry><key>Enable Unix Lines Mode</key></entry><entry><key>Maximum Buffer Size</key></entry><entry><key>mac.address</key><value>([0-9a-f]{2}(?::[0-9a-f]{2}){5})</value></entry><entry><key>Enable Canonical Equivalence</key></entry><entry><key>Enable Case-insensitive Matching</key></entry><entry><key>Enable Multiline Mode</key></entry><entry><key>Maximum Capture Group Length</key></entry><entry><key>Enable Literal Parsing of the Pattern</key></entry><entry><key>Character Set</key></entry><entry><key>Include Capture Group 0</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ExtractText</name><relationships><autoTerminate>false</autoTerminate><description>FlowFiles are routed to this relationship when the Regular Expression is successfully evaluated and the FlowFile is modified as a result</description><name>matched</name></relationships><relationships><autoTerminate>true</autoTerminate><description>FlowFiles are routed to this relationship when no provided Regular Expression matches the content of the FlowFile</description><name>unmatched</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.ExtractText</type></processors><processors><id>60b9d871-c28e-4447-b075-61a0370d5ce4</id><parentGroupId>7941dde3-1ac2-4f17-a0e5-ee239dbce4ae</parentGroupId><position><x>1221.3509376301733</x><y>-509.3753884015836</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Remove Trailing Newlines</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Whether to remove newlines at the end of each split file. This should be false if you intend to merge the split files later. If this is set to 'true' and a FlowFile is generated that contains only 'empty lines' (i.e., consists only of &#xD; and 
 characters), the FlowFile will not be emitted. Note, however, that if the Header Line Count is greater than 0, the resultant FlowFile will never be empty as it will consist of the header lines, so a FlowFile may be emitted that contians only the header lines.</description><displayName>Remove Trailing Newlines</displayName><dynamic>false</dynamic><name>Remove Trailing Newlines</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Header Line Count</key><value><defaultValue>0</defaultValue><description>The number of lines that should be considered part of the header; the header lines will be duplicated to all split files</description><displayName>Header Line Count</displayName><dynamic>false</dynamic><name>Header Line Count</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Line Split Count</key><value><description>The number of lines that will be added to each split file (excluding the header, if the Header Line Count property is greater than 0).</description><displayName>Line Split Count</displayName><dynamic>false</dynamic><name>Line Split Count</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Remove Trailing Newlines</key><value>true</value></entry><entry><key>Header Line Count</key><value>0</value></entry><entry><key>Line Split Count</key><value>1</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>SplitText</name><relationships><autoTerminate>true</autoTerminate><description>If a file cannot be split for some reason, the original file will be routed to this destination and nothing will be routed elsewhere</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>The original input file will be routed to this destination when it has been successfully split into 1 or more files</description><name>original</name></relationships><relationships><autoTerminate>false</autoTerminate><description>The split files will be routed to this destination when an input file is successfully split into 1 or more split files</description><name>splits</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.SplitText</type></processors></snippet><timestamp>05/27/2016 23:32:08 EDT</timestamp></template>